@font-face {
    font-family: "Oswald-Medium";
    src: url("../tff/Oswald-Medium.ttf");
}
@font-face {
    font-family:"Oswald-Bold";
    src: url("../tff/Oswald-Bold.ttf");
}
@font-face {
    font-family:"Oswald-Light";
    src: url("../tff/Oswald-Light.ttf");
}

h1{
    font-family: Oswald-Bold, sans-serif;
}

/* вид заголовков на всем сайте*/
h2,h3{
    font-family: Oswald-Light, sans-serif;
    list-style-type: none;
    text-decoration: none;
    font-size: 21px;
    font-weight: 400; 
    background-color: #eaeaea;
}
/* вид текста на всем сайте для p,a*/
p,a{
    font-family: Oswald-Light, sans-serif;
    list-style-type: none;
    text-decoration: none;
}


